body {
  margin-left: 70px;
  margin-right: 70px;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

input {
  border: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 152px;
}

.logo-title {
  color: #D04F4F;
}

.input-group {
  margin: auto;
}
.input-group .form-control {
  background-color: #E7E7E7;
  border: none;
  height: 48px;
}
.input-group .btn-outline-secondary {
  border: none;
  background-color: #E7E7E7;
}

.tags {
  border-radius: 5px;
  padding: 12px;
  margin-right: 5px;
  color: white;
}

.ustensils {
  background-color: #ED6454;
}

.ingredients {
  background-color: #3282F7;
}

.appliances {
  background-color: #68D9A4;
}

.filtre .filtre__container {
  margin-bottom: 25px;
  display: flex;
}

.element-select {
  display: flex;
  margin-bottom: 20px;
}
.element-select__ingredients {
  background-color: #3282F7;
}
.element-select__appareil {
  background-color: #68D9A4;
}
.element-select__ustensiles {
  background-color: #68D9A4;
}
.element-select button {
  display: flex;
  align-items: center;
  height: 37px;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
}
.element-select button img {
  margin-left: 15px;
  cursor: pointer;
}

.recherche-secondaires {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  height: 69px;
  font-family: "lato", "roboto", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
}
.recherche-secondaires.active {
  width: 50%;
  z-index: 2;
}
.recherche-secondaires.active .list-container {
  display: block;
  max-height: 400px;
  overflow: scroll;
}
.recherche-secondaires::after {
  display: none;
}
.recherche-secondaires input {
  width: 80%;
  height: 90%;
  color: white;
  font-size: 1.125rem;
  border: none;
  padding: 12px;
}
.recherche-secondaires input::-webkit-search-cancel-button {
  display: none;
}
.recherche-secondaires input::placeholder {
  color: white;
  outline: none;
}
.recherche-secondaires input:focus {
  outline: none;
}
.recherche-secondaires img {
  cursor: pointer;
  padding: 16px;
}
.recherche-secondaires ul {
  display: flex;
  flex-wrap: wrap;
}

.recherche-par-ingredients {
  background-color: #3282F7;
}
.recherche-par-ingredients input {
  background-color: #3282F7;
}

.recherche-par-appareil {
  background-color: #68D9A4;
}
.recherche-par-appareil input {
  background-color: #68D9A4;
}

.recherche-par-ustensiles {
  background-color: #ED6454;
}
.recherche-par-ustensiles input {
  background-color: #ED6454;
}

.list-container {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  padding-bottom: 1rem;
  color: white;
  border-radius: 0 0 5px 5px;
  display: block;
  padding: 7px;
  display: none;
}
.list-container li {
  font-family: "lato", "roboto", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  width: 33%;
}

#liste-of-ingredients {
  background-color: #3282F7;
}

#liste-appareil {
  background-color: #68D9A4;
}

#liste-ustensiles {
  background-color: #ED6454;
}

.carte {
  margin-bottom: 33px;
  background-color: #E7E7E7;
  width: 33%;
}
.carte .recipe_informations {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}
.carte .recipe_informations .carte__duree {
  width: 50%;
  display: flex;
  justify-content: end;
}
.carte .recipe_informations .carte_title {
  width: 50%;
}
.carte .recipe_informations .carte__recette {
  font-size: 10px;
  width: 50%;
  height: 109px;
  text-align: left;
  overflow: hidden;
}
.carte .recipe_informations .carte__ingredients {
  width: 50%;
  font-size: 10px;
}

#recipesCartes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h2 {
  font-size: 15px;
  width: 216px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*# sourceMappingURL=style.css.map */
