.input-group {
  margin: auto;
  .form-control {
    background-color: $input_bg_color;
    border: none;
    height: 48px;
  }
  .btn-outline-secondary {
    border: none;
    background-color: $input_bg_color;
  }
}
.tags{
    border-radius: 5px;
    padding: 12px;
    margin-right: 5px;
    color: white;
}
.ustensils{
  background-color: $Ustensiles_bg_color;
}
.ingredients{
  background-color: $Ingredient_bg_color;
}
.appliances{
  background-color: $appareil_bg_color;
}
.filtre {
  .filtre__container{
  margin-bottom: 25px;
  display: flex;
  }
}

.element-select {
  display: flex;
  margin-bottom: 20px;
  &__ingredients {
    background-color: $Ingredient_bg_color;
  }
  &__appareil {
    background-color: $appareil_bg_color;
  }
  &__ustensiles {
    background-color: $appareil_bg_color;
  }
  & button {
    display: flex;
    align-items: center;
    height: 37px;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    & img {
      margin-left: 15px;
      cursor: pointer;
    }
  }
}

.recherche-secondaires {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  height: 69px;
  font-family: "lato", "roboto", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
  &.active {
    width: 50%;
    z-index: 2;
    .list-container {
      display: block;
      max-height: 400px;
      overflow: scroll;
    }
  }
  &::after {
    display: none;
  }
  & input {
    width: 80%;
    height: 90%;
    color: white;
    font-size: 1.125rem;
    border: none;
    padding: 12px;
    &::-webkit-search-cancel-button {
      display: none;
    }
    &::placeholder {
      color: white;
      outline: none;
    }
    &:focus {
      outline: none;
    }
  }
  & img {
    cursor: pointer;
    padding: 16px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.recherche-par-ingredients {
  background-color: $Ingredient_bg_color;
  input {
    background-color: $Ingredient_bg_color;
  }
}
.recherche-par-appareil {
  background-color: $appareil_bg_color;
  input {
    background-color: $appareil_bg_color;
  }
}
.recherche-par-ustensiles {
  background-color: $Ustensiles_bg_color;
  input {
    background-color: $Ustensiles_bg_color;
  }
}

.list-container {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  padding-bottom: 1rem;
  color: white;
  border-radius: 0 0 5px 5px;
  display: block;
  padding: 7px;
  display: none;
  li {
    font-family: "lato", "roboto", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    width: 33%;
  }
}
#liste-of-ingredients {
  background-color: $Ingredient_bg_color;

}
#liste-appareil {
  background-color: $appareil_bg_color;
}
#liste-ustensiles {
  background-color: $Ustensiles_bg_color;
}
.alert{
  display: none;
} 