.carte {
    margin-bottom: 33px;
    background-color:  $card_bg_color;
    width: 33%;
    .recipe_informations{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
        .carte__duree{
            width: 50%;
            display: flex;
            justify-content: end;
        }
        .carte_title{
            width: 50%;
        }
        .carte__recette{
            font-size: 10px;
            width: 50%;
            height: 109px;
            text-align: left;
            overflow: hidden;
        }
        .carte__ingredients{
            width: 50%;
            font-size: 10px;
        }
    }
  }

  #recipesCartes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  h2 {
    font-size: 15px;
    width: 216px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
